.App-header {
  background-color: #684ca4;
  min-height: 10vh;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
